<ion-view view-title="Home">
  <ion-content class="padding">
    <b>Order by</b>:
    <br/><br/>
    <input type="radio" name="filterBy" value="name" id="filterBy" checked> Name
    <br/><br/>
    <input type="radio" name="filterBy" value="time" id="filterBy"> Time
    <br/><br/>
    <input type="radio" name="filterBy" value="cost" id="filterBy"> Cost
    <br/><br/>
    <!-- <div style="text-align:center"> -->
      <!-- <a class="button icon icon-right ion-search" href="#/tab/list">Search</a> -->
      <button class="button icon icon-right ion-search" ng-click="search()">Search</button>
    <!-- </div> -->
    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
