<div ng-controller="SearchController">
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <!-- <div class="navbar-header text-center"> -->
	      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button> -->
	      <!-- <a class="navbar-brand">Food Diary</a>
	    </div> -->
	    <div class="row">
	    	<div class="column col-md-12 text-center">
	      		<span style="height: 50px;padding: 15px 15px;font-size: 18px;line-height: 20px;display: inline-block;text-decoration:none;color:white;">Food Diary</span>
	    	</div>
		</div>
	    <!-- <div class="collapse navbar-collapse"> -->
	      <!-- <ul class="nav navbar-nav"> -->
	        <!-- <li class="active"><a href="#">Search</a></li>
	        <li><a href="#">Results</a></li>
	        <li><a href="#">Details</a></li> -->
	      <!-- </ul> -->
	    <!-- </div>/.nav-collapse  -->
	  </div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="column col-md-12 text-center">
				<h1>Search<h1>
				<button type="button" ng-click="search()" class="btn btn-primary">Search <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
			</div>
		</div>
	</div>
</div>