<div ng-controller="signup_controller">
	<div class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container">
	    <div class="row">
	    	<div class="column col-md-12 text-center">
	      		<span style="height: 50px;padding: 15px 15px;font-size: 18px;line-height: 20px;display: inline-block;text-decoration:none;color:white;">Sign Up</span>
	    	</div>
		</div>
	  </div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="column col-md-12 text-center" style="margin-top:50px;">
				<input type="email" class="form-control" placeholder="Email"ng-model="user.email">
				<br/><br/>
				<input type="password" class="form-control" placeholder="Password" ng-model="user.password">
				<br/><br/>
				<input type="password" class="form-control" placeholder="Confirm Password" ng-model="user.password_confirmation">
				<br/><br/>
				<div ng-if="register_message !== null" class="alert alert-danger" role="alert">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					{{register_message}}
				</div>

				<div class="column col-md-12 text-center" style="margin-top:20px;">
					<button type="button" ng-click="goToLogin()" class="btn btn-danger"  style="width:100px;">
						Cancel
					</button>
					<button type="button" ng-click="register(user)" class="btn btn-primary"  style="width:100px;margin-left:10px;">
						Register
					</button>
				</div>
			</div>
		</div>
	</div>
</div>